.services h2:after,
.portfolio h2:after,
.Blog h2:after,
.contact h2:after,
.testimonials h2:after,
button.about-btn,
.contact input:not([type='submit']):focus,
.contact textarea:focus
{
    border-color: lightgray;
}
.services h2::before,
.portfolio h2::before,
.Blog h2:before,
.contact h2:before,
.testimonials h2:before,
.bg-crimson,
button.about-btn,
#btn-top
{
    background-color: lightgray;
}
.text-crimson,
.social-icons i:hover,
.navbar .navbar-brand,
.navbar-nav .active>.nav-link,
.navbar-nav .nav-link:hover,
.portfolio ul li.active,
.portfolio-img .overlay i,
.blog .blog-card h5 a:hover,
.blog .blog-card a:hover,
footer p > a:hover
{
    color: lightgray;
}

.testimonials .carousel .triangle
{

    border-top: 7rem solid lightgray;
    border-left: 7rem solid lightgray;
}
.testimonials .carousel-indicators li
{
    border: 1px solid lightgray;
}
.testimonials .carousel-indicators li.active {
    background: lightgray none repeat scroll 0 0;
}
